<% if @marked_book && @marked_book.mark_type.present? %>
  <h2>
    <%= t "userbook.marked" %>
    <%= @marked_book.mark_type %>
  </h2>
  <%= link_to "change",
    edit_book_mark_path(@book, @marked_book), remote: true %>
  <div id="edit-mark"></div>
<% else %>
  <%= render "marks/mark_form" %>
<% end %>
