<div class="panel panel-heading">
  <center>
    <h1>
      <%= t "views.static_pages.home1" %>
      <%= link_to t("views.static_pages.sign up"), signup_path,
        class: "btn btn-lg btn-primary" %>
    </h1>
  </center>
</div>

