<h3><%= t "users.show.read" %></h3>
<% if @read_books.any? %>
  <% @read_books.each do |read_book| %>
    <li>
      <%= link_to read_book do %>
        <%= image_tag read_book.image.url,
          size: Settings.book.history.size if read_book.image? %>
        <strong>
          <%= read_book.title %>
        </strong>
      <% end %>
    </li>
  <% end %>
<% end %>
