<h2><%= t "views.admin.category.new.createnewcategory" %></h2>
<% provide :button_text, t("views.admin.category.new.createbutton") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
