@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

 body {
   padding-top: 60px;
 }

 .center {
   text-align: center;
 }

 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
 }

 #logo:hover {
   color: blue;
   text-decoration: none;
 }

 h1 {
   color: green;
 }

